beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.0
nltk==3.4.5
pdfminer.six==20170720
pycryptodome==3.7.0
PyPDF2==1.26.0
requests==2.21.0
six==1.11.0
soupsieve==1.6.2
urllib3==1.24.2
Wand==0.4.4
werkzeug==0.15.3
wincertstore==0.2
gunicorn==19.9.0
