 

June 29, 2016 
Washington, DC               

         Inspections and Compliance Directorate 

 

 Safety Advisory 06-16 

 

Random Chemical Testing Requirements for Marine Employers, 

Sponsoring Organizations and Mariners 

The  Coast  Guard  publishes  this  Marine  Safety  Advisory  to  restate  and  reemphasize  the  importance  of  a 
properly administered and applied random chemical testing program to prevent drug misuse as a causative 
factor in marine casualties. Marine employers, sponsoring organizations (ME/SO) and mariners subject to 
chemical testing are reminded of their responsibilities to ensure random chemical testing programs are both 
conducted  in  accordance  with  regulatory  requirements  and  achieve  their  intended  purpose  of  deterring, 
detecting and preventing drug abuse within the maritime industry. 
 
The  United  States  Maritime  Transportation  System  supports  the  safety  and  security  of  our  nation  and 
promotes  the  quality  of  life  enjoyed  by  the  American  people.  Whether  operating  large  cargo  ships, 
passenger ferries of all sizes or small charter boats for pleasure, highly skilled American Merchant Mariners 
are required to be competent, highly-skilled and free of the debilitating effects of drugs and alcohol.  
 
To achieve this, Congress mandated the Coast Guard require chemical testing of mariners. Since 1989, the 
Coast  Guard  has  enforced  chemical  testing  of  mariners  per  46  CFR  Part  16.  These  chemical  testing 
regulations  serve  as  the  foundation  guiding  the  maritime  industry  and  the  Coast  Guard  to  achieve  the 
shared goal of preventing drug use as a factor in maritime casualties. 
 
Of special importance in 46 CFR Part 16 is the requirement for random chemical testing programs. Persons 
serving aboard a commercial vessel as crewmembers or performing safety sensitive functions are required 
to be enrolled in a random chemical drug testing program. ME/SO are required to conduct random chemical 
tests  in  a  manner  that  is  scientifically  valid,  spread  evenly  throughout  the  year,  and  achieves  the  goal  of 
unpredictability  as  to  when  a  test  may  occur.  ME/SO  must  conduct  selection  at  least  quarterly  and  must 
update  the  random  selection  pool  prior  to  conducting  the  selection.  Each  mariner  subject  to  testing  must 
have an equal chance for selection when a selection occurs. Selection for testing must be scientifically 
valid, using a paper or electronic random number generator. The drawing of names out of a hat for 
selection  or  other  unapproved  method  is  not  authorized  and  its  use  will  result  in  significant  civil 
penalties  upon  the  ME/SO.  Once  a  selection  is  made,  the  ME/SO  must  plan  mariner  notification  to 
account for mariner availability and test collection site readiness. Notification to the mariner must be done 
discreetly and in writing, with a means to document mariner acknowledgement of notification. Mariners are 
required  to  cooperate  in  the  testing  process  and  to  proceed  immediately  to  the  testing  location  when 
instructed to do so by the ME/SO. Failure of an ME/SO to conduct their random chemical testing program 
as  described  above,  or  failure  of  a  mariner  to  cooperate  in  the  process,  undermines  the  integrity  of  the 
random  chemical  testing  process.  If  the  ME/SO  or  mariner  is  using  the  services  of  a  Third  Party 
Administrator  or  Consortium  to  assist  in  complying  with  the  regulations,  it  is  imperative  the  ME/SO  or 
mariner closely follow existing agreements and notification processes to ensure the integrity of the random 
testing process and avoid invalidation of a testing event. This is especially so for individual owner/operators 
who must exercise additional care to comply with the intent of the regulations. 
 
Non-compliance by ME/SO or mariners may result in civil penalties of up to $7,500 per day, per violation. 
Mariner  non-compliance  also  includes  suspension  or  revocation  of  their  mariner  credential.  The  Coast 
Guard strongly recommends marine employers, sponsoring organizations and mariners administer 
and conduct their random testing programs in compliance with regulatory requirements. 
 
This Safety Advisory was developed by the Office of Investigations and Casualty Analysis.  Any questions 
or comments should be sent to send to: HQS-PF-fldr-CG-INV@uscg.mil or DAPI@uscg.mil 

 

 

