 
 
 
 
 
September 17, 2009                                                                                                               Alert 07-09 
Washington, DC 

 

DRUG TESTING REQUIREMENTS FOR CHARTER VESSELS 

46 CFR Parts 4 and 16, 49 CFR Part 40, 33 CFR 95 

 
The Coast Guard is strongly reminding the Charter Vessel Industry of their duties and obligations to 
meet  federal  drug  testing  regulations.    Requirements  for  marine  employers  to  have  drug  testing 
programs have been in effect since November 21, 1988.  These requirements are applicable to all US 
flagged  vessels  in  commercial  service,  regardless  of  vessel  size  or  capacities,  including  what  are 
commonly  known  as  Six  Pack  Charter  Vessels.    The  rule  requires  chemical  testing  of  all 
crewmembers  working  in  safety-sensitive  positions  whether  or  not  those  crewmembers  possess 
merchant mariner credentials.  The consequences for failing to comply with these requirements can 
be substantial and may involve the loss of a license or document, loss of a vessel or civil penalties at 
a rate of $5,500 per day per violation. 
 
The  rule  applies  to  all  commercial  service  vessels  required  to  be  operated  by  a  US  Coast  Guard 
issued licensed individual, onboard any US flagged inspected and uninspected vessel on any route, 
commercial  fishing  vessels  200  GT  or  greater,  and  towing  vessels  26  feet  in  length  or  longer.    All 
crewmembers responsible for the safe operation and navigation of the vessel or those responsible for 
the safe handling of passengers in the event of an emergency must be tested. 
 
Pre-employment drug testing is required prior to a person being placed in a safety sensitive position. 
Crewmembers  are  also  subject  to  random  drug  testing  at  a  minimum  rate  of  50%  annually.    Drug 
testing must also take place following a Serious Marine Incident. In these cases, anyone involved with 
the incident must be tested for evidence of drug and alcohol use.  Additionally, testing may take place 
when  a  supervisor  has  reasonable  cause  of  drug  and  alcohol  use.  Drug  testing  may  also  occur 
periodically  when  a  USCG  credentialed  individual  submits  an  original  merchant  mariner  credential 
application,  a  reissuance,  upgrade  or  endorsement.  Please  see  the  following  attachment  for 
additional basic information.   
 
Detailed  information  about  the  Coast  Guard’s  Drug  and  Alcohol  Program  and  responsibilities  of 
marine  employers  is  available  online  and  may  be  accessed  at  http://marineinvestigations.us  >  Drug 
and  Alcohol  Program.    Questions  regarding  testing  requirements  may  be  directed  to  your  Coast 
Guard District Drug and Alcohol Program Inspector or the Headquarters Drug and Alcohol Program 
Manager, Mr. Robert Schoening at 202.372.1033 or Robert.C.Schoneing@uscg.mil . 
 
This  safety  alert  is  provided  for  informational  purposes  only  and  does  not  relieve  any  domestic  or 
international  safety,  operational  or  material  requirement.    Developed  by  the  Office  of  Investigations 
and Analysis, United States Coast Guard Headquarters, Washington, DC.   
 
                                                                        ******* 
 
Office of Investigations and Analysis:  http://marineinvestigations.us 
To subscribe: kenneth.w.olsen@uscg.mil 
 

 

 

Marine Employers Drug Test Program  

Basic Regulatory Requirements 

46 CFR Parts 4 & Part 16, 49 CFR Part 40, 33 CFR 95 

 

Background:  On  November  21,  1988,  a  new  regulation  requiring  chemical    testing  for  all  U.S. 
flagged  vessels  in  commercial  service  was  published  in  the  Federal  Register.  This  rule  required 
chemical  testing  on  all  crewmembers  working  in  a  safety-  sensitive  positions.  A  crewmember  is  a 
documented or undocumented individual. 
 
Applicability:    Applies  to  all  commercial  service    vessels  required  to  be  operated  by    a  US  Coast 
Guard  issued  licensed  individual:   All  United  States  flagged  inspected  and  uninspected  vessels  in 
commercial service on any route; Commercial fishing vessels 200 GT or greater; Towing vessels 26 ft 
length or longer. 
 
Who  must  be  tested?  All  crewmembers  responsible  for  the  safe  operation  and  navigation  of  the 
vessel and those responsible for the safe handling of  passengers in the event of an emergency. 
 
When  is  Drug  testing  required?  Pre-employment:    Must  take  and  pass  a  drug  test  prior  to  being 
placed in a safety-sensitive position. Random:  All crewmembers are subject to random unannounced 
drug  testing  at  a  minimum  rate  of  50%.  Serious  Marine  Incident:    Marine  employer  shall  take  all 
practicable  steps  to  have  each  individual  engaged  or  employed  on  board  the  vessel  who  is  directly 
involved in the incident chemically tested for evidence of drug and alcohol use. Reasonable Cause:  
To  be  conducted  when  there  is  a  reasonable  and  articulable  belief  that  individual  has  used  a 
dangerous  drug  based  on  direct  observation  of  specific,  contemporaneous  physical,  behavioral,  or 
performance  indicators  of  probable  use.  Where  practicable,  this  belief  should  be  based  on  the 
observation  of  the  individual  by  two  persons  in  supervisory  positions.  Periodic:    Testing  conducted 
when  an  individual  is  required  to  take  a  drug  test  for  a  USCG  credential  transaction  (i.e.,  original 
application, reissuance, upgrade or endorsement. 
 
How  to  do  testing?  All  tests  have  to  be  conducted  in  accordance  49  CFR  40  (Dept.  of 
Transportation (DOT) procedures)  Employers may manage your own program, or use the services of 
a drug test consortium or third party administrator. 
 
Drugs that are tested for:  Marijuana; Cocaine, Amphetamines, Opiates, and PCP. 
 
Where  does  the  testing  take  place?  Testing  takes  place  at  laboratories  accredited  by  Dept  of 
Health and Human Services. 
 
What  type  of  specimen  is  provided  for  testing?    Urine  is  the  only  accepted  test  specimen  for 
drugs. 
 
Who  collects  the  specimen?    Only  Dept.  of  Transportation  qualified  collectors  can  collect  the 
specimen and ship it to the testing laboratory. 
 
What happens at the laboratory?  The specimen will be analyzed using a two step testing process 
and will also do testing to make sure it is a valid urine specimen. If the specimen is not an acceptable 
specimen,  it  will  be  reported  to  the  Medical  Review  Officer  (MRO)  as  substituted,  adulterated  or 
invalid test result. The first test is an initial screen test and if negative, testing stops with the test result 

reported to the MRO as negative. If the screen test is positive for one or more drugs, the specimen is 
tested using a confirmation test called GC/MS. This final test result is reported to the MRO. 
 
Who is the MRO?  A licensed physician (MD or DO) that is qualified to review drug test results from 
the  laboratory.  The  MRO  will  contact  and  talk  to  the  specimen  donor  for  all  non-negative  drug  test 
results and will report to the employer all negative and positive drug test results. 
 
What does the marine employer do with the test results?  If negative test result is obtained that 
person  can  be  hired  and  no  other  action  is  required.  If  non-negative  test  result,  the  employer  is 
required to immediately remove from safety-sensitive position. If a credentialed mariner, the employer 
must  report the non-negative test result to Coast Guard. 
 
Can I return this person to work? Only after the return-to-work requirements have been complied 
with. 
 
Other  requirements:  Employee  Assistance  Program  (EAP).  This  consists  of  an  EAP  Education 
Program and a Training Program. Several requirements contained here for education of the dangers 
of  drug  use;  Distribution  of  informational  materials;  Display  of  a  community  hot-line  assistance 
telephone number; Company Policy; Employee Drug Awareness; and Supervisor Training. 
 
Records and Reporting: Program records are required to be maintained.  The annual report includes 
the number of tests conducted annually by an employer. A Consortium or Third Party Administrator 
may perform these functions on behalf of a marine employer. 
 
Potential  Consequences:  Potential  consequences  for  failure  to  comply  are:  Letter  of  Warning;  Do 
Not  Sail  Order;  Civil  Penalty  $5,500  per  day  per  violation;  Loss  of  license  or  document;  Loss  of 
vessel. 
 
Additional Questions: 
 
Contact your District Drug and Alcohol Program Inspector or the Program Manager at Coast Guard 
Headquarters:   
 
Robert C. Schoening  
Phone:202-372-1033 
Email: Robert.C.Schoening@uscg.mil  
Web:  Homeport.uscg.mil>Investigations  
 
 
 

 

